{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1 class="mb-5 text-white">Login</h1>
        <form class="rounded-3 p-5 bg-secondary">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-white">User name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-white">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
    </div>
{% endblock %}